Repository imbrn/v8n, pull requests merged in 2022-03, with the labels that each got.

#226 Changed logo text color
  dist/v8n.browser.min.js.map
  dist/v8n.esm.browser.min.js.map
  dist/v8n.min.js.map
  docs/assets/logo.png
  docs/assets/logo.svg
Labels: Scope: Docs, Status: Review Needed

#224 Add modifier for strict schema validation
  CHANGELOG.md
  dist/v8n.amd.js
  dist/v8n.browser.js
  dist/v8n.browser.min.js
  dist/v8n.browser.min.js.map
  dist/v8n.cjs.js
  dist/v8n.esm.browser.js
  dist/v8n.esm.browser.min.js
  dist/v8n.esm.browser.min.js.map
  dist/v8n.esm.js
  dist/v8n.min.js
  dist/v8n.min.js.map
  dist/v8n.system.js
  dist/v8n.umd.js
  docs/api/README.md
  src/Rule.js
  src/v8n.js
  src/v8n.test.js
  types/modifier.d.ts
  types/test/test-v8n.ts
  types/v8n.d.ts
Labels: Scope: Rule, Status: Accepted

#227 Move optionalAsync into optional
  CHANGELOG.md
  dist/v8n.amd.js
  dist/v8n.browser.js
  dist/v8n.browser.min.js
  dist/v8n.browser.min.js.map
  dist/v8n.cjs.js
  dist/v8n.esm.browser.js
  dist/v8n.esm.browser.min.js
  dist/v8n.esm.browser.min.js.map
  dist/v8n.esm.js
  dist/v8n.min.js
  dist/v8n.min.js.map
  dist/v8n.system.js
  dist/v8n.umd.js
  docs/api/README.md
  src/rules/optional.js
  src/v8n.js
  src/v8n.test.js
  types/v8n.d.ts
Labels: Scope: Rule, Type: Change

#228 Remove dist folder
  .github/workflows/npm-publish.yml
  .gitignore
  dist/v8n.amd.js
  dist/v8n.browser.js
  dist/v8n.browser.min.js
  dist/v8n.browser.min.js.map
  dist/v8n.cjs.js
  dist/v8n.esm.browser.js
  dist/v8n.esm.browser.min.js
  dist/v8n.esm.browser.min.js.map
  dist/v8n.esm.js
  dist/v8n.min.js
  dist/v8n.min.js.map
  dist/v8n.system.js
  dist/v8n.umd.js
  package.json
Labels: Scope: Build

#229 Fixed faulty Proxy check
  CHANGELOG.md
  src/v8n.js
Labels: Type: Bug, Status: Accepted
